<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>user.1.name</param-name>
        <param-value>johndoe</param-value>
    </context-param>
    <context-param>
        <param-name>user.1.pass</param-name>
        <param-value>password</param-value>
    </context-param>
    <context-param>
        <param-name>user.2.name</param-name>
        <param-value>janedoe</param-value>
    </context-param>
    <context-param>
        <param-name>user.2.pass</param-name>
        <param-value>password</param-value>
    </context-param>
    <context-param>
        <param-name>page.size</param-name>
        <param-value>5</param-value>
    </context-param>
    <context-param>
        <param-name>jdbc.url</param-name>
        <param-value>jdbc:derby://localhost:1527/hubbub</param-value>
    </context-param>
    <context-param>
        <param-name>jdbc.user</param-name>
        <param-value>javauser</param-value>
    </context-param>
    <context-param>
        <param-name>jdbc.pass</param-name>
        <param-value>javauser</param-value>
    </context-param>
    <!--
    <listener>
        <description>ServletContextListener</description>
        <listener-class>edu.acc.j2ee.hubbub.AppListener</listener-class>
    </listener>
    -->
    <listener>
        <description>ServletContextListener</description>
        <listener-class>edu.acc.j2ee.hubbub.DbStartupListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>edu.acc.j2ee.hubbub.FrontController</servlet-class>
        <init-param>
            <param-name>view.dir</param-name>
            <param-value>/WEB-INF/views/</param-value>
        </init-param>
        <init-param>
            <param-name>view.type</param-name>
            <param-value>.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>redirect.tag</param-name>
            <param-value>redirect:</param-value>
        </init-param>
        <init-param>
            <param-name>default.action</param-name>
            <param-value>timeline</param-value>
        </init-param>
        <init-param>
            <param-name>page.size</param-name>
            <param-value>5</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>main</welcome-file>
    </welcome-file-list>
</web-app>
